@font-face {
  font-family: 'Avenir light';
  src: url('./Avenir\ Light.ttf');
}

.App {
  align-items: center;
  display: flex;
  font-family: 'Avenir light';
  flex-direction: column;
  letter-spacing: 1px;
  min-height: 100vh;
  height: 100%;
  justify-content: flex-start;
  line-height: 1.2rem;
  text-align: center;
}

.dark {
  background-color: hsla(200, 100%, 12%, 0.8);
  color: hsl(300, 20%, 90%);
}

main {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  display: inline-block;
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

header {
  position: relative;
  width: 100%;
}

.UserInput, 
.Insights {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: flex-start;
  margin: 3rem;
}

.Insights > article{
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 3px;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: flex-start;
  margin: 1rem 3rem;
  max-width: 312px;
  min-width: 200px;
  padding: 0.5rem;
  width: 100%;
}

.CounterTable, 
.LetterDensityTable,
.SocialMediaTable {
  align-items: flex-start;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 200px;
  padding: 0.5rem;
  width: 100%;
}

/* .SocialMediaTable {
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
} */

/* .SocialMediaTable > tr {
  display: flex;
  justify-content: space-between;
} */

/* .SocialMediaTable > tr > td > small {
  margin: 0;
  padding: 0;
  position: absolute;
} */

label {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.switch {
  display: inline-block;
  height: 40px;
  position: absolute;
  top: 25%;
  right: 15%;
  width: 80px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-color: hsl(300, 20%, 5%);
  content: "";
  position: absolute;
  height: 32px;
  width: 32px;
  left: 4%;
  top: 10%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(207, 90%, 34%);
}

input:focus + .slider {
  background-color: hsl(207, 90%, 34%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(43px);
  -ms-transform: translateX(43px);
  transform: translateX(43px);
  background-color: hsl(300, 20%, 90%);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.moon:before {
  background-image: url(https://media.istockphoto.com/vectors/realistic-full-moon-vector-id584764738?k=20&m=584764738&s=612x612&w=0&h=pgxfLj3IhOr2LQmWAsUQSqqrUwjSaotCAMxeRHMs2Kg=);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sun::before {
  background-image: url(https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2020/07/the_sun_viewed_by_solar_orbiter_s_phi_instrument_on_18_june_2020/22136366-2-eng-GB/The_Sun_viewed_by_Solar_Orbiter_s_PHI_instrument_on_18_June_2020_pillars.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

textarea {
  border: none;
  box-shadow: 0 0 5px #bac4ab;
  font-family: 'Avenir light', 'Courier New', Courier, monospace;
  height: 100%;
  letter-spacing: 1px;
  line-height: 1.2rem;
  margin: 1rem 0;
  min-width: 400px;
  padding: 0.75rem;
  width: 100%;
}

textarea:focus {
  box-shadow: 0 0 21px #bac4ab;
  outline: solid 2px #d0dbbf;
}

table {
  line-height: 1.2rem;
}

tbody {
  width: 100%;
}

tr {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
}

tr:first-child {
  border-top: none;
}

tr > td:first-child {
  font-weight: 500;
}

h4 {
  margin: 0 auto 0.25rem;
}

hr {
  width: 100%;
}

.UserInput-Buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  background-color: hsl(230, 20%, 60%);
  border: none;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
  color: whitesmoke;
  font-size: 1rem;
  outline: none;
  padding: 8px 21px;
  letter-spacing: 0.05rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.4s ease;
}
button:hover, 
button:focus{
  background-color: hsl(240, 30%, 40%);
}

/* LARGE */
@media only screen and (max-width: 992px) {
  h1 {
    margin: 2rem;
  }
  .UserInput, 
  .Insights {
    margin: 3rem 1rem;
    /* min-width: 60vw; */
  }
}

@media only screen and (max-width: 767px) {
  .UserInput {
    margin: 0.75rem auto;
    height: 30vh;
    min-width: 60vw;
  }

  .UserInput-Buttons {
    flex-direction: column;
  }
  button:first-child {
    margin-bottom: 10px;
  }

  .Insights {
    margin: 0.75rem auto;
    min-width: 60vw;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  textarea {
    min-width: 60vw;
    height: 100%;
    margin: 1rem 0;
    padding: 0.75rem;
    border: none;
    box-shadow: 0 0 5px #bac4ab;
  }
}