.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  line-height: 1.2rem;

}

main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

h1 {
  font-size: 3rem;
}

h3 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.UserInput, 
.Insights {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem;
  height: 75vh;
}

.Insights > article{
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 3px;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: flex-start;
  margin: 1rem 3rem;
  max-width: 312px;
  min-width: 200px;
  padding: 0.5rem;
  width: 100%;
}

.CounterTable, 
.LetterDensityTable {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 200px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}

.SocialMediaTable {
  font-size: 0.75rem;
  position: relative;
  margin: 0;
  padding: 0;
}

.SocialMediaTable > tr > td > small {
  margin: 0;
  padding: 0;
  position: absolute;
}

label {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

textarea {
  min-width: 400px;
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  padding: 0.75rem;
  line-height: 1.2rem;
  border: none;
  box-shadow: 0 0 5px #bac4ab;
}

textarea:focus {
  outline: solid 2px #d0dbbf;
  box-shadow: 0 0 21px #bac4ab;
}

table {
  line-height: 1.2rem;
}

tbody {
  width: 100%;
}

tr {
  display: flex;
  justify-content: space-between;
}

tr > td:first-child {
  font-weight: 500;
}

h4 {
  margin: 0 auto 0.25rem;
}

hr {
  width: 100%;
}

/* LARGE */
@media only screen and (max-width: 992px) {
  h1 {
    margin: 2rem;
  }
  .UserInput, 
  .Insights {
    margin: 3rem 1rem;
    /* min-width: 60vw; */
  }
}

@media only screen and (max-width: 767px) {
  .UserInput, 
  .Insights, 
  .CounterTable {
    margin: 0.75rem;
    height: 30vh;
    min-width: 60vw;
  }

  .CounterTable {
    min-width: 60vw;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  textarea {
    min-width: 60vw;
    height: 100%;
    margin: 1rem 0;
    padding: 0.75rem;
    border: none;
    box-shadow: 0 0 5px #bac4ab;
  }
}